[Unit]
Description=bingo-health-check
ConditionPathExists=/home/admin/health
After=network.target
After=bingo.service
Requires=bingo.service
[Service]
PIDFile=/opt/bingo/bingo-health-check.pid
WorkingDirectory=/home/admin/
ExecStart=/bin/bash /home/admin/health
Restart=always
[Install]
WantedBy=multi-user.target
